#wrapper {
    display: grid;
    justify-content: center;
    padding: 2rem;
    border: 1rem;;
}
#startTime {
    background-color: rebeccapurple;
    opacity: 70%;
    color:whitesmoke;
}
body {
    padding: 3%;
    background-color: rgba(78, 108, 197, 0.39);
}
#choicesUl {
    background-color: rgba(114, 40, 114, 0.637)
}